*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.vite
/.zed
/auth.json
/node_modules
/public/build
/public/favicon.ico
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/database/backups/*.sqlite
/composer-audit-temp.phar
/tmp_*.php.txt
/Fauna
Homestead.json
Homestead.yaml
Thumbs.db
